.containerTexto{
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  float:left;
  background-color: rgba(0, 0, 0,0.74);
  height: 32.05em;
  padding: 2em;
  width: 50%;
}
.titulo{
  font-size: 3em;
  color: coral;
  background-color: rgba(0, 0, 0);
  
}
.description{
  margin-top: 2em;
  font-size: 1.8em;
  color: rgb(214, 196, 27);
}
.img{
  border-radius: 100%;
  margin-top: 10%;
}
